
    <div class="row">
        <div class="col-md-12">
            <div class="account-wall">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                 <img class="profile-img img-responsive" src="/public/images/1492515328-12903.png" alt="">
               
                  </div>
            </div>
                <form class="login" method="post" action="login" autocomplete="off">
                <p>{{errorMessage}}</p>
                    <div class="group">
                    <input type="text" name="email"><span class="highlight"></span><span class="bar"></span>
                    <label>Email</label>
                  </div>
                  <div class="group">
                    <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
                    <label>Password</label>
                  </div>
                  <center><button type="submit" class="btn btn-default btn-round-lg btn-lg"> Login </button></center>
                  <div class="row">
                  <div class="col-xs-6">
                    <a href="forgotpassword" class="pull-left">Forgot Password? </a><span class="clearfix"></span>
                    </div>
                    <div class="col-xs-6">
                    <a href="register" class="pull-right">Create an account </a></span>
                </div>
                </div>
                </form>

            </div>
        </div>
    </div>
  
